{% extends 'layout.html' %}

{% block body %}
<div class="jumbotron text-center">
  <h1>Welcome to FlaskApp</h1>
  <p class="lead">
    This application is built on the Python Flask Framework and is something
  </p>
</div>


{% endblock %}
