<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>MyFlaskApp </title>
  <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />



  </head>
  <body>
    {% include 'includes/_navbar.html' %}
    <div class="container">
    {% block body %}{% endblock %}
    </div>


    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
